# Django
SECRET_KEY=secrety_key
DEBUG=True
ALLOWED_HOSTS=localhost, 127.0.0.1
DATABASE_URL:postgres://postgres:postgres@localhost/postgres

# Docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=planilha

### Define your conjugations, this is just an example ###
