version: "3.6"

services:
  # nginx:
  #   build: ./nginx
  #   container_name: planilha_nginx
  #   ports:
  #     - 1337:80
  #   volumes:
  #     - static_volume:/app/staticfiles/
  #     - media_volume:/app/mediafiles/
  #   depends_on:
  #     - web
  #   restart: "on-failure"

  web:
    build: .
    container_name: planilha_app
    # command: gunicorn planilha.wsgi:application --bind 0.0.0.0:8000
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles/
      - media_volume:/app/mediafiles/
    # expose:
    #   - 8000
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: "on-failure"

  db:
    container_name: planilha_db
    image: postgres:11
    env_file:
      - db.env
    volumes:
      - db_volume:/var/lib/postgresql/data
    restart: "on-failure"

volumes:
  db_volume:
  static_volume:
  media_volume:
