version: "3.6"

services:
  postgres:
    container_name: planilha_django
    image: postgres:11
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=planilha
    ports:
      - "5433:5432"
