{% extends 'base.html' %}

{% block title %}Alterar Senha{% endblock title %}

{% block content %}
	<div class="col-md-4 offset-md-4 mt-5">
		<div class="card">
				<form action="{% url 'accounts:change-password' %}" method="POST" class="mb-0">
					{% csrf_token %}
					<div class="card-header">
						<h5 class="card-title text-uppercase text-center">Alterar senha<i class="fas fa-key ml-2"></i></h5>
					</div>
					<div class="card-body">
						<div>
							{% include "components/field.html" with field=form.old_password %}

							{% include "components/field.html" with field=form.new_password1 %}

							{% include "components/field.html" with field=form.new_password2 %}
						</div>
						<button type="submit" class="btn btn-primary btn-block mb-2">Confirmar</button>
						<a href="{% url 'core:home' %}" class="text-decoration-none"><button type="button"
						class="btn btn-secondary btn-block">Cancelar</button></a>
					</div>
				</form>
		</div>
	</div>
{% endblock  %}
