{% extends 'base.html' %}

{% block title %}<title>Planilha - Login</title>{% endblock title %}

{% block content %}
  <div class="col-md-4 offset-md-4 mt-5">
    {% include 'components/messages.html' %}
    <div class="card">
      <div class="card-header">
        <h3 class="mt-1 mb-1 text-center">Login <i class="fad fa-sign-in"></i></h3>
      </div>
      <form method="POST" action="{% url 'accounts:login' %}">
        {% csrf_token %}
          <div class="card-body">
            {% include 'components/field.html' with field=form.username %}
            {% include 'components/field.html' with field=form.password %}
            <button type="submit" class="btn btn-info btn-block mt-2 mb-5">Entrar</button>
            <hr>
            <p class="text-center text-uppercase">Cadastre-se abaixo</p>
            <a href="{% url 'accounts:register' %}" class="btn btn-secondary btn-block mt-2">Cadastre-se</a>
            {% comment %} <a href="#" class="btn btn-success btn-block mt-5">Reuperar Senha</a> {% endcomment %}
          </div>
      </form>
    </div>
  </div>
{% endblock content %}
