{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
  {% include 'components/messages.html' %}

  <div class="card mt-5">
  <div class="card-header bg-dark"></div>
    <div class="card-body text-center">
      <h3>Sistema De Gastos <i class="fad fa-money-check-edit-alt"></i></h3>
    </div>
  </div>
  <div class="card mt-5">
    <div class="card-header text-center"><h4>Meses</h4></div>
    <div class="card-body text-center">
      {% for month in months %}
        <a href="{% url 'core:month' month=month %}"><button class="btn btn-primary mt-2 ml-2">{{ month|slice:':3' }}</button></a>
      {% endfor %}
    </div>
  </div>
  <div class="card card-table mt-5 mb-3">
  <div class="card-header text-center text-uppercase"><h5>Últimas 10 contas - atualizadas</h5></div>
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Data da compra</th>
            <th>Valor</th>
            <th>Criada</th>
            <th>Atualizada</th>
          </tr>
        </thead>
        <tbody>
          {% for spent in spents %}
            <tr>
              <td id="spent-table">{{ spent.spent }}</td>
              <td id="date-table">{{ spent.date|date:"d/m/Y" }}</td>
              <td id="value-table">R$ {{ spent.value }}</td>
              <td id="value-table">{{ spent.created_at|date:"d/m/Y H:i:s" }}</td>
              <td id="value-table">{{ spent.updated_at|date:"d/m/Y H:i:s" }}</td>
            </tr>
          {% empty %}
            <td class="text-center text-danger text-uppercase" colspan="5">Não ah contas cadastradas</td>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
