{% extends 'base.html' %}

{% block title %}<title>Login</title>{% endblock title %}

{% block content %}
  <div class="col-md-4 offset-md-4 mt-5">
    {% include 'components/messages.html' %}
    <div class="card">
      <div class="card-header">
        <h3 class="mt-1 mb-1 text-center">Login <i class="fad fa-sign-in"></i></h3>
      </div>
      <form method="POST" action="{% url 'core:login' %}">
        {% csrf_token %}
          <div class="card-body">
            {% include 'components/field.html' with field=form.username %}
            {% include 'components/field.html' with field=form.password %}
            <button type="submit" class="btn btn-info btn-block">Entrar</button>
          </div>
      </form>
    </div>
  </div>
{% endblock content %}
