<div class="modal fade" id="delete-spent">
  <div class="modal-dialog" role="document">
      <form method="POST" class="modal-content" id="modal-delete">
      {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excluir Gasto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="">Tem certeza que deseja excluir esse gasto?</label>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" id="btn-delete">Confirmar</button>
      </div>
    </form>
  </div>
</div>
