body {
    background-color: whitesmoke;
}

.card-infos {
    text-align: right;
    margin-top: 50px!important;
}

footer {
    margin-top: 19.6rem!important;
}

@media only screen and (max-width: 768px) {
    .infos {
        text-align: center;
    }
    .update {
        margin-bottom: 5px!important;
    }
    .card-table {
        margin-bottom: 20px!important;
    }
}
