body {
    background-color: whitesmoke;
}

.card-infos {
    text-align: right;
    margin-top: 70px!important;
}

/*
* MOBILE
*/
@media only screen and (max-width: 768px) {
    .infos {
        text-align: center;
    }
    .card-infos {
        width: 100%!important;
        margin-left: 15px!important;
    }
    .update {
        margin-bottom: 5px!important;
    }
    .card-table {
        margin-bottom: 20px!important;
    }
}
