{% load widget_tweaks %}

<div class="form-group">
  {% with class=class|default:"" %}
		{% if not field.field.widget.input_type == 'hidden' and field.label %}
			<label for="{{ field.id_for_label }}" class="text-bold">
				{{ field.label }}{{ month }}{% if field.field.required %}*{% endif %}
			</label>
		{% endif %}

		{% if field.errors %}
			{% render_field field|add_class:class|add_class:'is-invalid' class="form-control" %}
		{% else %}
			{% render_field field|add_class:class class="form-control" autocomplete=complete %}
		{% endif %}

		{% include "components/field-error.html" with field=field %}
  {% endwith%}
</div>
