<!--_nav.html-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
	<div class="container">
		{% if user.is_authenticated %}
		<div class="row">
			<div class="col">
				<a class="navbar-brand" href="{% url 'core:home' %}">Home
				<i class="fad fa-home text-white"></i> | usuário: <strong>{{ user }}</strong></a>
			</div>
		</div>
		<a class="navbar-brand float-right" href="{% url 'core:logout' %}">Sair </a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		{% else %}
			<h3 class="text-white mx-auto">
			Planilha De Gastos <i class="fad fa-money-check-edit-alt"></i></h3>
		{% endif %}
	</div>
</nav>
